<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Quality Anomaly</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Quality Anomaly Report</h1>

    <p>Gerador Inteligente de Relatórios</p>

    <br>

    <button onclick="location.href='/report'">
        Novo Relatório
    </button>

    <button>
        Histórico
    </button>

    <button>
        Dashboard
    </button>

    <button>
        Configurações
    </button>

</div>

</body>

</html>